        body{
            margin: 0px;
            padding: 0px;            
        }

        #text{
            display: flex;
            font-family: cursive;
            justify-content: center;
            font-size: 50px;
            font-weight: bold;
        }

        .container{
        display: flex;
        flex-direction: column;
        align-items: center;
        margin: 0px auto;
        padding: 5px;
        background-color: #607d8b;
        width: 366px;
        }

        .row{             
            align-items: center; 
            margin: 2px 5px;
        }

        .btn{
            background-color: #000738;
            color: white;
            padding: 10px 36px;
            border: 2px solid #000738;            
            font-size: 18px;
            font-weight: bold;
            width: 86px;
            cursor: pointer;
        }

        .input{
            border: 2px solid #000738;
            font-size: 20px;
            padding: 9px 9px;
            float: left;
            margin: 0px 4px 0px 0px;
            outline: none;
        }

        #clear{
            float: left;
            padding: 10px 32px;
            background-color: red;
            border: 2px solid red;
        }

        #equals{
            border: 2px solid green;
            background-color: green;
        }


       
